<div class="row">
    <div class="col-xs-12">
        <form>
            <div class="row">
                <div class="col-sm-5 form-group">
                    <label for="name">Name</label>
                    <input type="text" id="name" class="form-control" #nameInput>
                </div>
                <div class="col-sm-2 form-group">
                    <label for="amount">Amount</label>
                    <input type="text" id="amount" class="form-control" #amountInput>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <a href="#" class="btn btn-success" (click)="onAdd(nameInput)">Add</a>
                    <a href="#" class="btn btn-danger" (click)="onDelete()">Delete</a>
                    <a href="#" class="btn btn-primary" (click)="onClear(nameInput)">Clear</a>
                </div>
            </div>
        </form>
    </div>
</div>